<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Us</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

        <label for="Email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>

        <label for="Password">Password:</label><br>
        <input type="text" id="password" name="password">
        <br><br>

        <label for ="file">File :</label>
        <input type="file" name="image">

        <button type ="Submit">Upload</button>
        
    </form>

</body>
</html>